[package]
authors = ["Microsoft"]
name = "pyqir"
version = "0.7.0-alpha.1"
edition = "2018"
license = "MIT"
description = "PyQIR generates and evaluates the Quantum Intermediate Representation."
readme = "README.md"
homepage = "https://github.com/qir-alliance/pyqir"
repository = "https://github.com/qir-alliance/pyqir"

[dependencies]
inkwell = { git = "https://github.com/TheDan64/inkwell", branch = "master", default-features = false, features = ["target-x86"] }
pyo3 = { version = "0.17", features = ["abi3-py37", "extension-module"] }
qirlib = { path = "../qirlib" }

[features]
llvm11-0 = ["qirlib/llvm11-0"]
llvm12-0 = ["qirlib/llvm12-0"]
llvm13-0 = ["qirlib/llvm13-0"]
llvm14-0 = ["qirlib/llvm14-0"]

[lib]
crate-type = ["cdylib"]

[package.metadata.maturin]
name = "pyqir._native"
