name: LLVM Weekly

# Compile LLVM weekly or on demand

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    env: ${{ matrix.config.env }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              os: "ubuntu-22.04",
              arch: "amd64",
              env: {},
            }
          - {
              os: "windows-2022",
              arch: "amd64",
              env: {},
            }
          - {
              os: "macos-14",
              arch: "aarch64",
              env: {},
            }
          - {
              os: "macos-14",
              arch: "universal",
              env: {
                ARCHFLAGS: "-arch arm64 -arch x86_64"
              }
            }
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Linux - Install build dependencies, ccache, ninja
        run: sudo apt-get install -y ccache ninja-build
        if: ${{ matrix.config.os == 'ubuntu-22.04' }}
      - name: Windows - Install build dependencies, sccache, ninja
        run: choco install --accept-license -y sccache ninja
        if: ${{ matrix.config.os == 'windows-2022' }}
      - name: MacOS - Install build dependencies, ccache, ninja
        run: brew install ccache ninja
        if: ${{ matrix.config.os == 'macos-14' }}
      - name: Windows - Install LLVM 20.1.8
        run: choco install llvm --version=20.1.8 --allow-downgrade
        if: ${{ matrix.config.os == 'windows-2022' }}
      - name: "Build and Package LLVM"
        run: ./build.ps1 -t package-llvm
        shell: pwsh
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.config.os }}-${{ matrix.config.arch }}
          if-no-files-found: error
          path: |
            target/**/*.zip
            target/**/*.tar.gz
            target/**/*.rpm
            target/**/*.deb
